<style>
   
</style>
<div class="container generic-profile mb-3">
   <div class="card panel-primary">
      <div class="card-body">

         <div id="personal_info_tab" disabled="disabled">
               <div class="profile-banner mb-3" *ngIf="!cover_link" style="background-image: url('assets/img/brand/moments-banner.png');"></div>
               <div class="profile-banner mb-3" *ngIf="cover_link" style="background-image: url({{cover_link}});"></div>
               <!-- <div class="row"> -->
                  <div>
                     <table>
                        <tr>
                           <td>
                              <div class="col-sm-4 text-right">
                                 <div class="fileinput-new thumbnail" styl="height: 100px;" *ngIf="!picture_link">
                                    <img src="assets/img/avatars/dp-avatar.png" height="60px" alt="..." class="img-responsiv" />
                                 </div>
                                 <div class="fileinput-new thumbnail" style ="width: 100px; height: 100px;" *ngIf="picture_link">
                                    <img src="{{picture_link}}" style="width: 100px; height: 100px;" class="img-fluid rounded-circle"/>
                                 </div>
                              </div>
                           </td>
                           <td style="padding-left: 20px;">
                              <div class="col-sm-4 text-left">
                                 <div class="mt-3 mb-3 ml-5">
                                    <h5 class="mb-0 text-nowrap ml-5">
                                       {{user?.name}}
                                    </h5>
                                    <span class="text-nowrap">
                                       {{user?.website}}
                                    </span>
                                 </div>
                              </div>
                           </td>
                        </tr>
                     </table>

               </div>
               <!-- BIO -->
               <div class="mt-3">
                  <p class="text-justify">
                     <!-- {{user_data?.bio}} -->
                  </p>
               </div>


               <!-- CONTENT TAB -->
               <div class="mt-3" >
                  <c-card class="border-secondary">
                     <c-card-body>
                     <!-- <h5 cCardTitle>Card title</h5> -->
                     <h5 cCardText class="text-info">
                        Albums
                     </h5>
                     </c-card-body>
                     <ul cListGroup [flush]="true">
                     <li cListGroupItem *ngFor="let item of media; let i = index">{{i + 1}}.  <span class="text-info pointer" (click)="view_album(item?.id,item?.title)">{{item?.title}}</span> </li>
                     </ul>
                  </c-card>
               </div>
               
      
      </div>
   </div>

  


























