<style>
   
</style>
<div class="card panel-primary">
   <div class="card-body">

      <div id="personal_info_tab" disabled="disabled" class="row">

             <!-- CONTENT TAB -->
             <div class="mt-3" *ngFor="let profile of profiles" class="col-sm-12 col-md-6 col-lg-4">
               <c-card>
                  <img cCardImg="top" src="{{serverurl}}{{profile?.profile_picture?.profile_picture}}">
                  <c-card-body>
                  <h5 cCardTitle>{{profile?.user?.name}}</h5>
                  <h6 cCardText class="text-justify">
                     {{profile?.user?.bio}}
                  </h6>
                  </c-card-body>
                  <ul cListGroup [flush]="true">
                  <li cListGroupItem>1. Posts <span class="badge bg-success">{{profile?.analytics?.posts}}</span></li>
                  <li cListGroupItem>2. Images <span class="badge bg-success">{{profile?.analytics?.photos}}</span></li>
                  <li cListGroupItem>3. Videos <span class="badge bg-success">{{profile?.analytics?.videos}}</span></li>
                  </ul>
                  <c-card-body class="text-center">
                     <!-- <button href="#" class="btn btn-primary">
                        SUBSCRIBE TO SEE USER'S POSTS
                     </button>
                     <br> -->
                     <button href="#" class="btn btn-warning mt-2" (click)="visitPage(profile?.user?.username)">
                       Visit Page
                     </button>
                  </c-card-body>
               </c-card>
             </div>
             
   
   </div>
</div>
