<style>
   
</style>
<div class="card panel-primary">
   <div class="card-body">

      <div id="personal_info_tab" disabled="disabled">
            <div class="profile-banner mb-3" *ngIf="!cover_link" style="background-image: url('assets/img/brand/moments-banner.jpg');"></div>
            <div class="profile-banner mb-3" *ngIf="cover_link" style="background-image: url({{cover_link}});"></div>
            <!-- <div class="row"> -->
               <div>
                  <div class="profile-controls phone-hide">
                      <table style="float: right;">
                        <tr>
                           <td  style="padding-top: 20px;">
                              <button class="btn float-right" (click)="edit_profile()">EDIT PROFILE</button>
                           </td>
                           <td style="padding-top: 20px;">
                              <button class="btn float-right">LINK</button>
                           </td>
                        </tr>
                     </table>
                  </div>
                 
                  <table>
                     <tr>
                        <td>
                           <div class="col-sm-4 text-right">
                              <div class="fileinput-new thumbnail" styl="height: 100px;" *ngIf="!picture_link">
                                 <img src="assets/img/avatars/dp-avatar.png" height="60px" alt="..." class="img-responsiv" />
                              </div>
                              <div class="fileinput-new thumbnail" style ="width: 100px; height: 100px;" *ngIf="picture_link">
                                 <img src="{{picture_link}}" style="width: 100px; height: 100px;" class="img-fluid rounded-circle"/>
                              </div>
                           </div>
                        </td>
                        <td style="padding-left: 20px;">
                           <div class="col-sm-4 text-left">
                              <div class="mt-3 mb-3 ml-5">
                                 <h5 class="mb-0 text-nowrap ml-5">
                                    {{user_data?.name}}
                                 </h5>
                                 <span class="text-nowrap">
                                    @{{user_data?.username}}
                                 </span>
                              </div>
                           </div>
                        </td>
                     </tr>
                  </table>
                  <div class="profile-controls laptop-hide">
                     <table style="float: right;">
                       <tr>
                          <td  style="padding-top: 20px;">
                             <button class="btn float-right" (click)="edit_profile()">EDIT PROFILE</button>
                          </td>
                          <!-- <td style="padding-top: 20px;">
                             <button class="btn float-right">LINK</button>
                          </td> -->
                       </tr>
                    </table>
                 </div>
            </div>
            <!-- BIO -->
            <div class="mt-3">
               <p class="bio  text-justify">
                  {{user_data?.bio}}
               </p>
            </div>
            
   
   </div>
</div>
