.nav-link{
    color: white;
}
.title{
    color: white;
}
.nav-icon{
    font-weight: 10px;
    font-size: 14px;
}
.hover:hover {
    background-color: #F205CB;
    padding: auto;
  }
li > a.active {
    color: #fff !important;
  }

.fa {
    color: #fff !important;
}