<style>
   
</style>
<div class="card panel-primary">
   <div class="card-header">
      <h5 class="card-title m-0 p-0">
          <i class="fa fa-id-card" aria-hidden="true"></i>
          Update Profile 
      </h5>
   </div>
   <div class="card-body">
      
      <form [formGroup]="CreateProfileForm" (ngSubmit)="create_profile()">
      

               <div id="personal_info_tab" disabled="disabled">
                  <div class="form-group ">
                     <div class="profile-banner mb-3" *ngIf="!cover_link" style="background-image: url('assets/img/brand/moments-banner.jpg');"></div>
                     <div class="profile-banner mb-3" *ngIf="cover_link" style="background-image: url({{cover_link}});"></div>
                     <div class="row">
                        <div class="col-sm-3">
                           
                           <div class="fileinput-new thumbnail" styl="height: 100px;" *ngIf="!picture_link">
                              <img src="assets/img/avatars/dp-avatar.png" height="60px" alt="..." class="img-responsiv" />
                           </div>
                           <div class="fileinput-new thumbnail" style ="width: 100px; height: 100px;" *ngIf="picture_link">
                              <img src="{{picture_link}}" style="width: 100px; height: 100px;" class="img-fluid rounded-circle"/>
                           </div>
                        </div>                        
                        <div class="col-sm-9">
                           <div class="row">
                              <div class="col-sm-12 col-md-6">
                                 <label class="control-label"><strong>Profile photo</strong></label>
                                 <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 200px;">
                                    </div>
                                    <div>                           
                                       <input id="pic" formControlName="pic_file" type="file" class="form-control"  (change)="handleFileupload($event,'profile_picture')"/>                                 
                                    </div>
                                 </div>
                              </div>
                              <div class="col-sm-12 col-md-6">
                                 <label class="control-label"><strong>Cover photo</strong></label>
                                 <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 200px;">
                                    </div>
                                    <div>                           
                                       <input id="pic" formControlName="pic_file" type="file" class="form-control"  (change)="handleFileupload($event,'cover_picture')"/>                                 
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <span class="help-block"></span>
                     </div>
                  </div>
                  <br>
                  
                  <div class="row">
                     <div class="form-group col-md-6 ">
                        <label for="first_name" class=" control-label"><strong>Username</strong>  <span class="mark-required text-danger ml-1">*</span></label>
                        <input id="first_name" formControlName="username" type="text" placeholder="Username" class="form-control required"/>
                    </div>
                     <div class="form-group col-md-6">
                        <label for="last_name" class="control-label"><strong>Name</strong>
                           <span class="mark-required text-danger ml-1">*</span></label>
                           <input id="last_name" formControlName="name" type="text" placeholder="Full Name" class="form-control required"/>
                      </div>
                  </div>
              
                  <div class="form-group mt-3 mb-3">
                     <div class="row ">
                        <div class="col-sm-12">
                           <label for="bio" class=" control-label"><strong>Bio</strong></label>
                           <textarea formControlName="bio" id="bio" class="form-control resize_vertical" maxlength="600" data-toggle="tooltip" placement="left" data-html="true" rows="4" required placeholder="Bio..."></textarea>
                        </div>
                     </div>
                  </div>
                  <button class="btn  btn-block btn-success text-white"> Save <i class="fa fa-check" aria-hidden="true"></i></button>
               </div>

      </form>
   
   </div>
</div>
