#bod{
    line-height: 1.0;
    min-height: var(--viewport-height);
    min-width: 320px;
    overflow-x: hidden;
    word-wrap: break-word;
}


:root {
    --background-height: 100vh;
    --site-language-alignment: left;
    --site-language-direction: ltr;
    --site-language-flex-alignment: flex-start;
    --site-language-indent-left: 1;
    --site-language-indent-right: 0;
    --viewport-height: 100vh;
}
@media (max-width: 980px){
    html {
        font-size: 11pt;
    }
}
@media (max-width: 1280px){
    html {
        font-size: 13pt;
    }
}
@media (max-width: 1680px){
    html {
        font-size: 13pt;
    }
    html {
        font-size: 18pt;
    }
}
.bod{
    // background-color: #2E323B;
    // color: #FFFFFF;
    height: 100vh;
}
.bod:before {
    content: "";
    display: block;
    background-attachment: scroll;
    height: var(--background-height);
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    transform: scale(1);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    background-image: linear-gradient(45deg, rgba(201,101,113,0.831) 0%, rgba(93,173,207,0.51) 81%), url('../../../assets/img/brand/bg.jpg');
    background-position: 0% 0%, top;
    background-repeat: repeat, no-repeat;
    background-size: cover, cover;
    background-color: #FFFFFF;
}

.bod:after {
    background-color: #94757E;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transform: scale(1);
    transition: opacity 2s ease-in-out 0.5s, visibility 2s 0.5s;
    visibility: hidden;
    width: 100%;
    z-index: 1;
}

svg {
    display: none;
    width: 0;
    height: 0;
}

svg:not(:root) {
    overflow: hidden;
}

#wrapper {
    -webkit-overflow-scrolling: touch;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: var(--viewport-height);
    overflow: hidden;
    position: relative;
    z-index: 2;
}
#bod {
    --alignment: center;
    --flex-alignment: center;
    --indent-left: 1;
    --indent-right: 1;
    --border-radius-tl: 0;
    --border-radius-tr: 0;
    --border-radius-br: 0;
    --border-radius-bl: 0;
    align-items: center;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    max-width: 100%;
    position: relative;
    text-align: var(--alignment);
    z-index: 1;
    transition: opacity 1s ease 0s,transform 1s ease 0s;
}
#bod > .inner {
    --padding-horizontal: 3rem;
    --padding-vertical: 0rem;
    --spacing: 0rem;
    --width: 60rem;
    border-radius: var(--border-radius-tl) var(--border-radius-tr) var(--border-radius-br) var(--border-radius-bl);
    max-width: 100%;
    position: relative;
    width: var(--width);
    z-index: 1;
    padding: var(--padding-vertical) var(--padding-horizontal);
}
#bod > .inner > :first-child {
    margin-top: 0 !important;
}
#bod > .inner > * {
    margin-top: var(--spacing);
    margin-bottom: var(--spacing);
}

#columns02 {
    display: flex;
    width: 100%;
    min-height: 40rem;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
#container03 {
    --alignment: left;
    --flex-alignment: flex-start;
    --indent-left: 1;
    --indent-right: 0;
    display: flex;
    width: 100%;
    min-height: 23rem;
    align-items: center;
    justify-content: center;
    background-color: #2E323B;
}
#container01 {
    --alignment: left;
    --flex-alignment: flex-start;
    --indent-left: 1;
    --indent-right: 0;
    display: flex;
    width: 100%;
    min-height: 23rem;
    align-items: center;
    justify-content: center;
    background-color: #383E4A;
}
#columns05 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
#container04 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-color: #FFFFFF;
    border-style: solid;
    border-top-width: 1px;
    border-radius: 0rem;
}
#columns02.default > .wrapper > .inner > *:first-child {
    margin-top: 0 !important;
}
#columns02.default > .wrapper > .inner > * {
    margin-bottom: var(--spacing);
    margin-top: var(--spacing);
}

#text08 {
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.45rem;
    width: calc(100% + 0.45rem);
    font-size: 3.5em;
    line-height: 1.125;
    font-weight: 200;
}
h1, h2, h3, p {
    direction: var(--site-language-direction);
    position: relative;
}
#text01 {
    color: #FFFFFF;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25em;
    line-height: 1.5;
    font-weight: 200;
}
#buttons01:not(:first-child) {
    margin-top: 1.9375rem !important;
}
#buttons01 {
    gap: 1.125rem;
    flex-direction: row;
    flex-wrap: wrap;
}

.buttons {
    cursor: default;
    display: flex;
    justify-content: var(--flex-alignment);
    letter-spacing: 0;
    padding: 0;
}
ol, ul {
    list-style: none;
}
#buttons01 .button {
    color: #FFFFFF;
    border: solid 1px #FFFFFF;
}
#buttons01 li a {
    display: inline-block;
    width: 16.375rem;
    height: 3.5rem;
    line-height: calc(3.5rem - 2px);
    padding: 0 0.5rem;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.275rem;
    padding-left: calc(0.275rem + 0.5rem);
    font-size: 0.875em;
    font-weight: 400;
    border-radius: 2rem;
    direction: var(--site-language-direction);
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

.buttons li a {
    align-items: center;
    justify-content: center;
    max-width: 100%;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
}