<section id="bod" class="bod">
   <div id="columns02" class="container default text-center">
      <div class="wrapper">
         <div class="inner">
            <h1 id="text08" class="mb-3">Moments</h1>
            <p id="text01" class="mb-2">Welcome to Moments, the premier platform for photo sharing! We believe that every moment is worth capturing, and we're here to make it easy for you to share those memories with the world. Our user-friendly interface makes it simple for you to upload and share your photos, and our robust privacy settings give you complete control over who sees your images.</p>
            <p id="text01" class="mb-2">With Moments, you can create custom albums to share with friends and family, or use our built-in social media integration to share your photos across your favorite platforms. We also offer a variety of editing tools to help you enhance your photos and make them look their best.</p>
            <p id="text01" class="mb-2">Whether you're a professional photographer looking to showcase your work or just someone who wants to share their personal memories, Moments has something for everyone. So why wait? Sign up today and start sharing your moments with the world!</p>

            <p class="btn btn-lg btn-moments ponter mt-3" (click)="get_started()">Get Started</p>
         </div>
      </div>
   </div>
</section>
