<style>
   
</style>
<div class="container generic-profile mb-3">
   <div class="card panel-primary">
      <div class="card-body">

         <div id="personal_info_tab" disabled="disabled">
               <div class="profile-banner mb-3" *ngIf="!cover_link" style="background-image: url('assets/img/brand/moments-banner.png');"></div>
               <div class="profile-banner mb-3" *ngIf="cover_link" style="background-image: url({{cover_link}});"></div>
               <!-- <div class="row"> -->
                  <div>
                     <table>
                        <tr>
                           <td>
                              <div class="col-sm-4 text-right">
                                 <div class="fileinput-new thumbnail" styl="height: 100px;" *ngIf="!picture_link">
                                    <img src="assets/img/avatars/dp-avatar.png" height="60px" alt="..." class="img-responsiv" />
                                 </div>
                                 <div class="fileinput-new thumbnail" style ="width: 100px; height: 100px;" *ngIf="picture_link">
                                    <img src="{{picture_link}}" style="width: 100px; height: 100px;" class="img-fluid rounded-circle"/>
                                 </div>
                              </div>
                           </td>
                           <td style="padding-left: 20px;">
                              <div class="col-sm-4 text-left">
                                 <div class="mt-3 mb-3 ml-5">
                                    <h5 class="mb-0 text-nowrap ml-5">
                                       {{user?.name}}
                                    </h5>
                                    <span class="text-nowrap">
                                       {{user?.website}}
                                    </span>
                                 </div>
                              </div>
                           </td>
                        </tr>
                     </table>

               </div>
               <!-- BIO -->
               <div class="mt-3">
                  <p class="text-justify">
                     <!-- {{user_data?.bio}} -->
                  </p>
               </div>


               <!-- CONTENT TAB -->
               <div class="mt-3" >
                  <c-card class="border-secondary">
                     <c-card-body>
                     <!-- <h5 cCardTitle>Card title</h5> -->
                     <h5 cCardText class="text-info">
                        Album: {{album_name}}
                     </h5>
                     </c-card-body>

                  </c-card>
               </div>
               
      
      </div>
   </div>

   <div class="animated fadeIn px-3">
      <div class="card">
         <div class="card-header">
            <strong>Title: {{media?.title}} | <span class="text-info pointer" (click)="mediaModal.show()">Edit</span></strong>
         </div>
         <div class="card-body text-center">
               <img src="{{media?.url}}" class="img-fluid mb-3">
         </div>
      </div>
   </div>
</div>



<!--media Info modal -->
<div bsModal #mediaModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-primary modal-lg border-warning" role="document">
       <div class="modal-content">
           <div class="modal-body container">
            <label class="mb-2">Enter new Title:</label>
            <input type="text" class="form-control"  [(ngModel)]="new_title">
            <button class="btn btn-moments form-control mt-3" (click)="update_media();mediaModal.hide()">Save</button>

         </div>      
     </div><!-- /.modal-dialog -->
 </div>
</div>
<!-- /.modal -->






























