  <ngx-spinner type="ball-scale-multiple">
    <p>Please Wait...</p>
  </ngx-spinner>
  
  


  <ngx-spinner bdOpacity=0.9 bdColor="rgba(243,241,241,0.61)" size="large" color="#ea1515" type="ball-scale-multiple"
  [fullScreen]="true" type="ball-scale-multiple">

</ngx-spinner>