<div class="app-body">
    <main class="main d-flex align-items-center">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-12 mx-auto">
                    <div class="card-group">
                        <div class="card p-4">
                            <div class="card-body login-block">                          
                                <!-- Reset Password -->
                                <div class="col-12 py-3">
                                    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
                                        <h3 class="pb-2">Reset Password</h3>
                                        <div class="row mt-2">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="icon-lock"></i></span>
                                                </div>
                                                <input [type]="passwordFieldType ? 'text' : 'password'" class="form-control" placeholder="New Password" formControlName="password" autocomplete="current-password"
                                                 required>
                                                <div class="input-group-append">
                                                    <span class="input-group-text" >
                                                        <i class="fa" [ngClass]="{'fa-eye-slash': !passwordFieldType,
                                                        'fa-eye': passwordFieldType}" (click)="showPassword()"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <error-message [control]="resetPasswordForm.controls.password" *ngIf="signupformstatus"></error-message>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="icon-lock"></i></span>
                                                </div>
                                                <input [type]="passwordFieldType ? 'text' : 'password'" class="form-control" placeholder="Confirm Password" formControlName="confirm_password" autocomplete="current-password"
                                                 required>
                                                <div class="input-group-append">
                                                    <span class="input-group-text" >
                                                        <i class="fa" [ngClass]="{'fa-eye-slash': !passwordFieldType,
                                                        'fa-eye': passwordFieldType}" (click)="showPassword()"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <error-message [control]="resetPasswordForm.controls.password" *ngIf="signupformstatus"></error-message>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-12">
                                                <button class="btn btn-block btn-primary px-4"  type="submit" >Reset</button>
                                            </div>
                                        </div>

                                    </form>
                                </div>                                
                            </div>
                        </div>
                        
                       
                        <div class="card text-black  py-5 d-md-down-none" style="width:44%">
                            <div class="card-body text-center">
                                <div>
                                   <p class="mt-5"></p>
                                    <img src='assets/img/brand/moments-logo.png' alt="MOMENTS"/>
                        
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<br>
<br>

<p style="text-align:center;"><a href="#" target="_blank"><strong>MOMENTS</strong></a> &copy; 2023 | All Rights Reserved</p>

<!-- <app-common-loader></app-common-loader> -->