<style>
   .card{
      margin-right:20px!important;
   }
</style>
<div class="card panel-primary">
   <div class="card-header">
    <i class="fa fa-users"></i> Moments Users
    </div>
   <div class="card-body">

      <div id="personal_info_tab" disabled="disabled" class="row">

             <div class="card border-secondary bg-secondary mb-3" style="width: 18rem;" *ngFor="let user of users">
               <div class="card-body">
                 <h5 class="card-title"><i class="fa fa-user"></i> {{user?.name}}</h5>
                 <p class="card-text"><i class="fa fa-globe"></i> {{user?.website}}</p>
               </div>
               <ul class="list-group list-group-flush">
                 <li class="list-group-item"><i class="fa fa-picture-o"></i> Albums : <span class="badge bg-secondary">{{albums[user?.id]}}</span></li>
                 <li class="list-group-item"><i class="fa fa-building"></i> City: {{user?.address?.city}}</li>
               </ul>
               <div class="card-body">
                 <a href="JavaScript:Void()" class="card-link text-white" (click)="visitPage(user?.id)">Visit <i class="fa fa-arrow-right" ></i></a>
               </div>
             </div>
             
   
   </div>
</div>
