<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <c-container>
      <c-row class="justify-content-center">
        <c-col md="8">
          <c-card-group>
            <c-card class="p-4">
              <c-card-body>
                <div *ngIf="is_login" class="col-12">
                    <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()">
                    <h1 class="text-moments">Login | Moments</h1>
                    <p class="text-medium-emphasis text-moments">Sign In to your account</p>
                    <c-input-group class="mb-3">
                        <span class="input-group-text"  id="addon-wrapping">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                            </svg>
                        </span>
                        <input autoComplete="username" cFormControl placeholder="Username" 
                        formControlName="username" />
                        <!-- <div *ngIf="LoginForm.get('username')?.invalid && (LoginForm.get('username')?.dirty || LoginForm.get('username')?.touched)">
                            Please provide username.
                        </div> -->
                    </c-input-group>
                    <c-input-group class="mb-4">
                        <span class="input-group-text"  id="addon-wrapping">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                                <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
                            </svg>
                        </span>
                        <input
                        [type]="passwordFieldType ? 'text' : 'password'"
                        autoComplete="current-password"
                        cFormControl
                        placeholder="Password"
                        type="password"
                        formControlName="password"
                        required
                        />
                        <span class="input-group-text"  id="addon-wrapping">
                            <i class="bi" [ngClass]="{' bi-eye-slash': !passwordFieldType,
                            'bi-eye': passwordFieldType}" (click)="showPassword()"></i>
                            
                            </span>
                    </c-input-group>
                    <c-row>
                        <c-col xs="6">
                        <button cButton  type="submit" class="btn btn-moments  px-4">
                            Login
                        </button>
                        </c-col>
                        <c-col class="text-right" xs="6">
                        <button cButton class="px-0" color="link" (click)="is_reset_password_fn(); resetPwdModal.show()">
                            <span class="text-moments" style="text-decoration: none !important;">Forgot password?</span>
                        </button>
                        </c-col>
                        <span class="mt-3 mb-5">
                            <br>
                            <span class="pt-5">
                                Don't have an account? 
                                    <span class="pointer text-moments"  color="link" (click)="is_login_fn();">
                                        Register Here
                                    </span>
                            </span>
                        </span>
                    </c-row>
                    </form>
                </div>

                <!-- Sign up -->
                <div *ngIf="!is_login" class="col-12">
                    <form [formGroup]="SignupForm" (ngSubmit)="onSignup()">
                        <h1 class="text-moments">Sign up | Moments</h1>
                        <p class="text-medium-emphasis text-moments">Create your account</p>
                        <c-input-group class="mb-3">
                            <span class="input-group-text"  id="addon-wrapping">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                                  </svg>
                            </span>
                            <input autoComplete="username" type="text" cFormControl placeholder="Username" 
                            formControlName="username" />
                            <!-- <div *ngIf="SignupForm.get('username')?.invalid && (LoginForm.get('username')?.dirty || LoginForm.get('username')?.touched)">
                                Please provide a username.
                              </div> -->
                        </c-input-group>
                        <c-input-group class="mb-3">
                            <span class="input-group-text"  id="addon-wrapping">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                                  </svg>
                            </span>
                            <input autoComplete="name" type="text" cFormControl placeholder="Full Name" 
                            formControlName="name" />
                            <!-- <div *ngIf="SignupForm.get('name')?.invalid && (SignupForm.get('name')?.dirty || SignupForm.get('name')?.touched)">
                                Please provide your name.
                              </div> -->
                        </c-input-group>
                        <c-input-group class="mb-3">
                            <span class="input-group-text"  id="addon-wrapping">
                                @
                            </span>
                            <input autoComplete="email" type="email" cFormControl placeholder="Email" 
                            formControlName="email" />
                            <!-- <div *ngIf="SignupForm.get('email')?.invalid && (SignupForm.get('email')?.dirty || SignupForm.get('email')?.touched)">
                                Please provide your email.
                              </div> -->
                        </c-input-group>
                          <c-input-group class="mb-4">
                            <span class="input-group-text"  id="addon-wrapping">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                                    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
                                  </svg>
                            </span>
                            <input
                            [type]="passwordFieldType ? 'text' : 'password'"
                              autoComplete="current-password"
                              cFormControl
                              placeholder="Password"
                              type="password"
                              formControlName="password"
                              required
                            />
                            <span class="input-group-text"  id="addon-wrapping">
                                  <i class="bi" [ngClass]="{' bi-eye-slash': !passwordFieldType,
                                  'bi-eye': passwordFieldType}" (click)="showPassword()"></i>
                                
                                </span>
                          </c-input-group>
                          <div class="input-group mt-4 mb-3">
                                    <label class="form-check-label text-moments" for="accepted_terms">
                                        By clicking Sign Up you confirm to have read and accepted Moments <span class="btn-link">Terms and Conditions</span>.
                                    </label>
                            </div>
                          <c-row>
                            <c-col xs="6">
                              <button cButton  type="submit" class="btn btn-moments  px-4">
                                Sign Up
                              </button>
                            </c-col>
                            <!-- <c-col class="text-right" xs="6">
                              <button cButton class="px-0" color="link" (click)="is_reset_password_fn()">
                                Forgot password?
                              </button>
                            </c-col> -->
                            <span class="mt-3 mb-5">
                                <!-- <span>
                                    Forgot Password? 
                                        <span class="btn-link pointer"  color="link" (click)="is_reset_password_fn()">
                                            Reset Here
                                        </span>
                                </span> -->
                                <br>
                                <span class="pt-5">
                                    Already have an account? 
                                            <span class="btn-link" (click)="is_login_fn()">
                                                Sign In
                                            </span>
                                </span>
                            </span>
                          </c-row>
                        </form>
                </div>
              </c-card-body>
            </c-card>
            <!-- <span class="d-sm-down-none phone-hide"> -->
                <c-card style="background:#fff;"  class="text-black d-sm-down-none phone-hide">
                    <c-card-body class="text-center py-5 login-set">
                      <div>
                          <!-- <h2>Welcome to Moments</h2>          -->
                          <!-- <img src='assets/img/brand/moments.jpg' class="img-flui ml-0 mr-0" height="200px"/> -->
                        <!-- <button [active]="true" cButton class="mt-3" color="primary" routerLink="/register">
                          Register Now!
                        </button> -->
                      </div>
                    </c-card-body>
                  </c-card>
            <!-- </span> -->
           
          </c-card-group>
        </c-col>
      </c-row>
    </c-container>

  </div> 


<!--Reset Password modal -->
<div bsModal #resetPwdModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-primary modal-lg" role="document">
       <div class="modal-content">
           <div class="modal-header bg-warning">
               <h5 class="modal-title text-moments">
                   Moments Reset Password            
               </h5>
               <button type="button" class="close" (click)="resetPwdModal.hide();" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
               </button>
           </div>
            <div class="modal-body container">
               <form [formGroup]="resetPasswordForm">
                  <p class="text-moments">Enter Your Account's Email:</p>
                  <c-input-group class="mb-3">
                     <span class="input-group-text"  id="addon-wrapping">
                         @
                     </span>
                     <input autoComplete="email" type="email" cFormControl placeholder="Email" 
                     formControlName="email" />
                 </c-input-group>
               </form>
               <button  type="button"  (click)="sendPasswordLink(resetPwdModal);"  class="btn btn-warning col-12 my-2 text-moments">Reset</button>
            </div>      
     </div><!-- /.modal-dialog -->
 </div>
</div>
<!-- /.modal -->

<br>
<br>

<p style="text-align:center;"><a href="/" target="_blank"><strong>Moments</strong></a> &copy; 2023 | All Rights Reserved</p>
<app-common-loader></app-common-loader>