/* You can add global styles to this file, and also import other style files */
// If you want to override variables do it here
@import "variables";

$enable-ltr: true;
$enable-rtl: true;

// Import styles with default layout.
@import "@coreui/coreui/scss/coreui";

// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";

// perfect scrollbar theming for use with [perfectScrollbar] directive
//@import '~perfect-scrollbar/css/perfect-scrollbar.css';


@import "layout";

// Some temp fixes
@import "fixes";
@import "~@danielmoncada/angular-datetime-picker/assets/style/picker.min.css";
// Prism.js
@import "examples";
@import "~bootstrap-icons/font/bootstrap-icons.css";
// If you want to add something do it here
@import "custom";


@import "~@ng-select/ng-select/themes/default.theme.css";
// ... or 
// @import "~@ng-select/ng-select/themes/material.theme.css";
.ng-valid.ng-dirty:not(form) {
    border: solid 2px lightgreen;
  }
  
  .ng-invalid.ng-dirty:not(form), .ng-invalid:not(form).form-submitted {
    border: solid 2px lightcoral;
    
  }
  .error-message{
    color:red;
  }

*{
    font-family: sans-serif;
    font-size: 0.9500rem;
    font-weight: 400;
    line-height: 1.5;
  }  
  a{
    text-decoration: none;
    color: #179dfc;
  }
  .btn-info{
    background-color:#179dfc;
    border-color: #179dfc;
    color: #fff;
  }
  .icon{
    font-weight:lighter;
    color: #838588;
  
  }

  select{
    -webkit-appearance: listbox !important
    }

  .btn-link, .pointer { cursor: pointer; }

  .login-set {
    background-image: url('../assets/img/brand/moments.png');
    background-size: cover;
  }
  .profile-banner {
    // background-image: url('../assets/img/brand/moments-banner.jpg');
    background-size: cover;
    height:20vh;
    width:auto;
    background-position: top; 
    background-repeat: no-repeat;
  }
  .profile-controls button {
    // background-color: #F2F2F2;
    border: 1px solid #F205B3;
    // border-radius: 50%;
    background-color: transparent;
    box-shadow: inset 0 0 0 1px rgb(138 150 163 / 25%);
    color: #00aff0;
    transition: color .15s,background-color .15s,box-shadow .15s;
    position: relative;
    border-radius: 1000px;
  }
  .laptop-hide{
    display: none !important;
  }

  .text-justify {
    text-align: justify !important;
  }

  .close {
    border: 0px;
    background: transparent;
  }

  .media img{
    height: 10vh !important;
    width: auto;
  }

  .media video{
    height: 10vh !important;
    width: auto;
  }
  
  .btn-moments{
    background-color: #D9048E;
    border: 1px solid #F205B3;
    color: #fff;
  }
  .btn-moments:hover{
    background-color: #D9048E;
    border: 2px solid #fff;
    color: #fff;
  }
  
  .text-moments {
    color: #D9048E;
  }








  @media only screen and (max-width: 1200px) {
    .phone-hide{
      display: none !important;
    }
    .laptop-hide{
      display: inherit !important;
    }
    .profile-controls td {
      padding: 0 !important;
      margin: 0 !important;
    }
    .bio {
      margin-top: 50px;
      text-align: justify;
    }
    .generic-profile{
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
  
  